<!doctype html>
<html lang="en">
  <head>
    <title>Simple equation solver</title>
    <meta charset="utf-8">
  </head>
  <body>
    <p>This simple equation solver is able to solve a system of <var>n</var> first-degree equations with <var>n</var> unknown variables.</p>
    <p>Requirements:</p>
    <ul>
      <li>The equations may only contain variables with coefficients (eg. 4<var>z</var>) and numbers.</li>
      <li>All numbers should be rational, written with decimal-notation.</li>
      <li>The only allowed operators are plus and minus (except the hidden multiplication sign between the coefficient and the variable).</li>
    </ul>
    
    <form action="/" method="post">
      <p><textarea name="equations" cols="100" rows="10"><%= params[:equations] %></textarea></p>
      <p><input type="submit" value="Solve!"></p>
    </form>
    <p><%= @solution %></p>
    
    <hr>
    <p>Example:</p>
    <pre>4x - 5y + (3z - y) = 9
3x - 3y + 8z = 22 + 2y
5x - (5 - 4y + 7z) = 20</pre>
  </body>
</html>
