<!doctype html>
<html lang="en">
  <head>
    <title>Simple equation solver</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheet.css">
  </head>
  <body>
    <h1>Simple equation solver</h1>
    <p>This simple equation solver is able to solve a system of <var>m</var> unordered first-degree linear equations with <var>n</var> unknown variables.</p>
    <h2>Requirements:</h2>
    <ul>
      <li>The equations may only contain variables with coefficients (eg. 4<var>z</var>) and numbers.</li>
      <li>All numbers must be rational, written with fractional or decimal notation or a combination hereof.</li>
      <li>Plus and minus operators may be used.</li>
      <li>The multiplication may only be used between a coefficient and the coresponding variable, however it may not be written explicitly.</li>
    </ul>
    
    <form action="/" method="post">
      <p><textarea name="equations" cols="100" rows="10"><%= params[:equations] %></textarea></p>
      <p>
        <input type="submit" value="Solve!">
        <input type="checkbox" name="notation" id="notation" value="decimal"<%= ' checked' if params[:notation] == 'decimal' %>>
        <label for="notation">Use decimal notation in output</label>
      </p>
    </form>
    <%= @solution %>
    
    <hr>
    <h2>Example (copy and paste):</h2>
    <pre>4x - 5y + (3z - y) = 9
3x - 3y + 8z = 22 + 2y
5x - (5 - 4y + 7z) = 20</pre>
  </body>
</html>
