* {
  margin: 0;
  padding: 0;
}

body {
  font: 13px/1.2 "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 20px;
}

p, hr, h2 {
  margin-top: 15px;
}

li {
  margin-top: 7px;
}

ul, ol {
  padding-left: 20px;
}

textarea, pre, .solution, .approx-solution, .error {
  padding: 10px;
  font: 13px/1.2 "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Apple Menlo", Monaco, Consolas, monospace;
}

input {
  padding: 4px 8px;
  font-weight: bold;
}

label, #notation {
  vertical-align: middle;
}

#notation {
  margin-left: 5px;
}

hr {
  border: none;
  border-top: 1px solid #999;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 14px;
  font-weight: bold;
}

code {
  font-family: "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Apple Menlo", Monaco, Consolas, monospace;
}

var {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.fraction {
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
}

.fraction .numerator, .fraction .denominator {
  display: block;
  text-align: center;
}

.fraction .divider {
  display: none;
}

.fraction .denominator {
  border-top: 1px solid #fff;
}

.solution {
  background-color: #090;
  color: #fff;
}

.approx-solution {
  background-color: #f80;
  color: #fff;
}

.error {
  background-color: #c00;
  color: #fff;
}
